#outputs {
  width: 200px;
  height: 100px;
  border-style: solid;
  border-color: black;
}

#expression {
  width: 100%;
  height: 50%;
}

#output {
  width: 75%;
  height: 50%;
  border-style: solid;
  border-color: black;
}

#enter-btn {
  width: 20%;
  height: 50%;
}

#buttons {
  width: 200px;
  border-style: solid;
  border-color: black;
}

#1, #2, #3, #4, #5, #6, #7, #8, #9, #0, #add, #subtract, #multiply, #divide, #exponent, #open-par, #close-par {
  width: 32%;
  aspect-ratio: 1/1;
}

#add, #subtract, #multiply, #divide, #exponent, #open-par, #close-par {
  background-color: lightblue;
}
