#outputs {
  width: 400px;
  height: 100px;
  border-style: solid;
  border-color: black;
}

#expression {
  width: 100%;
  height: 25%;
}

#output {
  width: 75%;
  height: 50%;
  border-style: solid;
  border-color: black;
  display: inline;
}

#enter-btn {
  width: 25%;
  height: 50%;
  display: inline;
}

#buttons {
  width: 400px;
  border-style: solid;
  border-color: black;
  aspect-ratio: 1/1;
}
